* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0px;
    background-color: #f1f1f1;
}

/*HEADER STYLE*/
header {
    padding: 10px 2%;
    display: flex;
    align-items: center;
}

header #logo{
    max-width: 200px;
    padding-left: 20px;
}

header h5 {
    padding: 1px 2%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #176524;
    padding-top: 7px;
    padding-inline-end: 30%;

}

header span {
    color: black;
    font-weight: 600;
    padding-top: 7px;
}

header #acessibilidade {
    padding-inline-start: 5px;
    max-width: 45px;
}

header div {
    padding-inline-start: 18%;
}

/*NAV STYLE*/
nav {
    display: flex;
    background-color: #176524;
    border: none;
}

nav a {
    color: white;
    font-size: 15px;
    padding: 17px;
    padding-left: 3%; padding-right: 3%;
    text-decoration: none;
    text-align: center;
    border-left: 1px;
}

nav a:hover {
    background-color: white;
    color: #176524;
    font-weight: bold;
    transition: 0.3s;
}

/*SECTION STYLES*/
section {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px !important;
}

section p {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 4%;
}

/*BUTTON STYLES*/
button {
    margin-inline-start: 32% !important;
    background-color: #D9D9D9;
    border: none;
    max-width: 100px; 
    max-height: 30px;
    border-radius: 5px !important;
}

button a {
    text-transform: uppercase;
    font-size: 11px;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: #f1f1f1;
    color: #176524;
  } 

/*MAIN STYLES*/
main {
    background-color: #f1f1f1;
    padding: 3% 20%;
    padding-bottom: 20%;
    justify-content: center;
    text-transform: uppercase;
    
}

.titulo {
    display: flex;
}

.not-sub h4 {
    font-size: 18px;
    padding: 1.7% 6px;
}

.sub h4{
    color: white;
    font-size: 18px;
    padding: 5px 8px;
    background-color: #176524;
    border-radius: 10px;
    width: fit-content;
}

/*TOGGLE LIST STYLES*/
input[type='checkbox'] { 
    display: none; 
} 

.toggle-list {
    margin: 1.5% 0;
}

.abrir-toggle,
.triagem-toggle,
.agenda-toggle { 
    display: block; 
    font-size: 12px; 
    padding: 1%; 
    margin-top: 1%;
    color:#176524; 
    background: #D9D9D9;
    cursor: pointer; 
    border-radius: 10px; 
    transition: all 0.25s ease-out; 
} 

.abrir-toggle:hover,
.triagem-toggle:hover,
.agenda-toggle:hover { 
    color: #FFF; 
    background-color: #176524;
} 

.abrir-toggle::before,
.triagem-toggle::before,
.agenda-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 

/* rotate individual para cada toggle */
.toggle:checked + .abrir-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

.toggle:checked + .triagem-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

.toggle:checked + .agenda-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

/* max-height individuais para cada toggle*/
.toggle:checked 
+ .abrir-toggle 
+ .toggle-content { 
    max-height: 350px; 
} 


.toggle:checked 
+ .triagem-toggle 
+ .toggle-content { 
    max-height: 350px; 
} 

.toggle:checked 
+ .agenda-toggle 
+ .toggle-content { 
    max-height: 350px; 
} 

/* border-radius individuais para cada toggle*/
.toggle:checked 
+ .abrir-toggle { 
    border-bottom-right-radius: 0; border-bottom-left-radius: 0; 
} 

.toggle:checked 
+ .triagem-toggle { 
    border-bottom-right-radius: 0; border-bottom-left-radius: 0; 
} 

.toggle:checked 
+ .agenda-toggle { 
    border-bottom-right-radius: 0; border-bottom-left-radius: 0; 
} 
/*---------------------------------*/

.toggle-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
} 

.toggle-content 
.inner-content { 
    background: #D9D9D9; 
    border-bottom: 1px solid #D9D9D9; border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: 5px 9px; 
} 

.toggle-content p { 
    margin: 5px;
    font-size: 12px;
    color: #176524;
}

label {
    font-weight: 700;
}


/* FOOTER STYLE */
footer {
    background-color: #176524;
}

footer p {
    font-size: 12px;
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
    padding: 8px !important;
}




/*RESPONSIVIDADE*/
@media (max-width: 650px) {
    header {
        flex-direction: column;
    }
}